@import  './animation.scss';
@import '../src/assets/theme/color.scss';

@font-face {
  font-family: "Arsenal";
  src: local("Arsenal"), url(./assets/fonts/arsenal.ttf) format("truetype");
}
html,body{
  background: linear-gradient(var(--main-background2), var(--main-background));
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arsenal", Arial, Helvetica, sans-serif;
}
